<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div id="loading"></div>

<div id="content">
<form action="/predict" method="post" enctype="multipart/form-data">
    <p>파일을 선택하세요</p>
    <p>FILE <input type="file" name="file"></p>
    <p><input type="submit" onclick="loading();"></p>
</form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/script.js"></script>
</body>
</html>