<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>AVA Demonstration</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/static/assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/static/assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/static/assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/static/assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="/static/assets/vendor/animate.css">
  <link rel="stylesheet" href="/static/assets/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/assets/vendor/typedjs/typed.css">
  <link rel="stylesheet" href="/static/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/static/assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="/static/assets/css/unify-core.css">
  <link rel="stylesheet" href="/static/assets/css/unify-components.css">
  <link rel="stylesheet" href="/static/assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/static/assets/css/custom.css">
</head>

<body>
  <main>



    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
              <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                <!-- Intro -->
                <li class="nav-item active g-mx-10--lg g-mx-15--xl">
                  <a href="{{ url_for('goto_home') }}" class="nav-link g-py-7 g-px-0">HOME</a>
                </li>
                <!-- End Intro -->

                <!-- FEATURES -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">FEATURES</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                    <!-- Features - demo -->
                    <li class="dropdown-item ">
<!--                      <a href="unify-main/home/home-default.html" class="nav-link">Demonstration</a>-->
                      <a href="{{ url_for('goto_demonstration') }}" class="nav-link">Demonstration</a>
                    </li>
                    <!-- End Features - demo -->
                  </ul>
                </li>
                <!-- End FEATURES -->

                <!-- Profiles -->
                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Profiles</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                    <!-- Features - Profiles -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="{{ url_for('goto_profiles') }}">TEAM AVA</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="{{ url_for('goto_profiles') }}">TEAM AVA <span class="g-opacity-0_5">(full width)</span></a>
                    </li>
                    <!-- End Features - Profiles -->
                  </ul>
                </li>
                <!-- End Profiles -->


                <!-- FAQ -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">Support</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                    <!-- Features - FAQ -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="{{ url_for('goto_FAQ') }}">FAQ</a>
                    </li>
                    <!-- End Features - FAQ -->
                  </ul>
                </li>
                <!-- End FAQ -->

                <!-- Contact Us -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link--features" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--features">Contact Us</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                    <!-- Features - contact -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="{{ url_for('goto_contacts') }}">Phone & Email</a>
                    </li>
                    <!-- End Features - contact -->
                  </ul>
                </li>
                <!-- End Contact Us -->


              </ul>
            </div>
            <!-- End Navigation -->

          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Promo Block -->
    <section class="g-pos-rel">
      <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" style="height: 130%; background-image: url(/static/assets/img-temp/ai_background_1920x1362.jpg);"></div>

        <div class="container g-bg-cover__inner g-py-100">
          <div class="row align-items-center">
            <div class="col-lg-6 g-mb-30 g-mb-0--lg">
              <h2 class="h1 text-uppercase g-color-white g-mb-30">
                  <span class="g-bg-primary-dark-v3 g-px-5">A.V.A</span><br>
                  <span class="g-bg-primary-dark-v3 g-px-5">Malware Detection Service</span><br>
                </h2>
              <h3 class="h4 g-color-white">
                  <span class="g-bg-black-opacity-0_6 g-px-5">Malware detection</span><br>
                  <span class="g-bg-black-opacity-0_6 g-px-5">Using</span><br>
                  <span class="g-bg-black-opacity-0_6 g-px-5">Three AI Models</span>
                </h3>
            </div>
            <div class="col-lg-6">
              <!-- Vimeo Example -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
              <!-- End Vimeo Example -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    <section class="g-py-100">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-communication-081 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Beautiful Designs</h3>
              <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-086 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Unique Features</h3>
              <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-communication-057 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Reliable Support</h3>
              <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Icon Blocks -->

    <hr class="g-brd-gray-light-v4 my-0">
    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Counters -->
    <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-50">
      <div class="container">
        <div class="row text-center text-uppercase">
          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">5147</div>
            <h4 class="h6 g-color-gray-dark-v5">Code Lines</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">5</div>
            <h4 class="h6 g-color-gray-dark-v5">Projects</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">243</div>
            <h4 class="h6 g-color-gray-dark-v5">Working Hours</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">4</div>
            <h4 class="h6 g-color-gray-dark-v5">Team members</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- End Counters -->


    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2020 &copy; All Rights Reserved.</small>
              <ul class="u-list-inline">
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Terms of Use</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">License</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Support</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/static/assets/vendor/popper.js/popper.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="/static/assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/static/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/static/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/static/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="/static/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="/static/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="/static/assets/vendor/typedjs/typed.min.js"></script>

  <!-- JS Unify -->
  <script src="/static/assets/js/hs.core.js"></script>
  <script src="/static/assets/js/components/hs.carousel.js"></script>
  <script src="/static/assets/js/components/hs.header.js"></script>
  <script src="/static/assets/js/helpers/hs.hamburgers.js"></script>
  <script src="/static/assets/js/components/hs.tabs.js"></script>
  <script src="/static/assets/js/components/hs.popup.js"></script>
  <script src="/static/assets/js/components/text-animation/hs.text-slideshow.js"></script>
  <script src="/static/assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="/static/assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: [
            "an awesome template",
            "perfect template",
            "just like a boss"
          ],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500
        });
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>






  <div id="resolutionCaution" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
      <i class="hs-icon hs-icon-close"></i>
    </button>
    <h4 class="g-mb-20">Screen resolution less than 1400px</h4>
  </div>

  <div id="copyModal" class="text-left modal-demo g-bg-white g-color-black g-pa-20" style="display: none;"></div>

  <!-- CSS -->
  <link rel="stylesheet" href="/static/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/chosen/chosen.css">
  <link rel="stylesheet" href="/static/assets/vendor/prism/themes/prism.css">
  <link rel="stylesheet" href="/static/assets/vendor/custombox/custombox.min.css">
  <link rel="stylesheet" href="/static/assets/style-switcher/vendor/spectrum/spectrum.css">
  <link rel="stylesheet" href="/static/assets/style-switcher/vendor/spectrum/themes/sp-dark.css">
  <link rel="stylesheet" href="/static/assets/style-switcher/style-switcher.css">
  <!-- End CSS -->

  <!-- Scripts -->
  <script src="/static/assets/vendor/chosen/chosen.jquery.js"></script>
  <script src="/static/assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
  <script src="/static/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/assets/vendor/custombox/custombox.min.js"></script>
  <script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

  <!-- Prism -->
  <script src="/static/assets/vendor/prism/prism.js"></script>
  <script src="/static/assets/vendor/prism/components/prism-markup.min.js"></script>
  <script src="/static/assets/vendor/prism/components/prism-css.min.js"></script>
  <script src="/static/assets/vendor/prism/components/prism-clike.min.js"></script>
  <script src="/static/assets/vendor/prism/components/prism-javascript.min.js"></script>
  <script src="/static/assets/vendor/prism/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="/static/assets/vendor/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <!-- End Prism -->

  <script src="/static/assets/js/components/hs.scrollbar.js"></script>
  <script src="/static/assets/js/components/hs.select.js"></script>
  <script src="/static/assets/js/components/hs.modal-window.js"></script>
  <script src="/static/assets/js/components/hs.markup-copy.js"></script>

  <script src="/static/assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="/static/assets/style-switcher/vendor/spectrum/spectrum.js"></script>
  <script src="/static/assets/style-switcher/style-switcher.js"></script>
  <!-- End Scripts -->
  <!-- End Style Switcher -->

</body>

</html>
